<footer class="footer">
  <div class="footer__divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="container footer__grid">
    <div class="footer__col">
      <a href="./#hero" class="logo footer__logo">
        <span class="logo__accent">Link</span>-Tor
      </a>
      <p class="footer__text">Технологии нового поколения для вашего роста. Переосмыслите подход к развитию вместе с
        нами.</p>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Меню</h4>
      <ul class="footer__links">
        <li><a href="./#hero">Главная</a></li>
        <li><a href="./#platform">О платформе</a></li>
        <li><a href="./#benefits">Преимущества</a></li>
        <li><a href="./#innovations">Инновации</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Документы</h4>
<ul class="footer__links">
  <li><a href="./privacy.html">Privacy Policy</a></li>
  <li><a href="./cookies.html">Cookie Policy</a></li>
  <li><a href="./terms.html">Terms of Use</a></li>
  <li><a href="./return.html">Return Policy</a></li>
  <li><a href="./disclaimer.html">Disclaimer</a></li>
  <li><a href="./personal-data-policy.html">Data Policy</a></li>
  <li><a href="./contact.html">Contact Us</a></li>
</ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Контакты</h4>
      <ul class="footer__contacts">
        <li>
          <i data-lucide="phone"></i>
          <a href="tel:+442014872891">+44 201 487 2891</a>
        </li>
        <li>
          <i data-lucide="mail"></i>
          <a href="mailto:support@link-tor.life">support@link-tor.life</a>
        </li>
        <li>
          <i data-lucide="map-pin"></i>
          <span>71-75 Shelton St, London, WC2H 9JQ, UK</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom container">
    <p>&copy; 2026 Link-Tor.life. Платформа уже доступна в Европе.</p>
  </div>
</footer>